@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.bg-gradient-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
}
